body {
  background-color: #363434;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
