.header {
  border-bottom: 1px solid #e1dbd1;
  padding-bottom: 1rem;
}

.navBarIcon {
  display: inline-block;
  font-size: 2rem;
  color: #e1dbd1;
  margin-top: 1rem;
  margin-left: 1rem;
}

.navBarIcon:hover {
  cursor: pointer;
}

.logo {
  display: inline-block;
  width: 12.5rem;
  height: 2.5;
  padding: 0;
  margin-top: 1rem;
}

.searchForm {
  display: flex;
  position: relative;
  margin-top: 1rem;
}

.submitButton {
  border: none;
  background-color: #e1dbd1;
  height: 2.5rem;
  width: 2rem;
  border-radius: 0 0.3rem 0.3rem 0;
}

.searchIcon {
  color: #363434;
  background-color: #e1dbd1;
  font-size: 1rem;
}

.searchIcon:hover {
  cursor: pointer;
}

.restaurantSearchInput,
.locationSearchInput {
  width: 18rem;
  height: 2.5rem;
  background-color: #e1dbd1;
  border: none;
  border-radius: 0.3rem 0 0 0.3rem;
  text-indent: 0.5rem;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1rem;
  color: #363434;
}

.locationSearchInput {
  width: 10rem;
  height: 2.5rem;
  border-left: 1px solid #363434;
  border-radius: 0;
}

.restaurantSearchInput::placeholder,
.locationSearchInput::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.restaurantSearchInput:focus,
.locationSearchInput:focus {
  outline: none;
}

.searchResultContainer {
  width: 95%;
  margin: auto;
}

.searchResultHeader {
  margin: 20px 0 20px 40px;
}

.searchResultHeaderText {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: #e8c4b8;
}

.searchResultList {
  padding: 0;
}

li {
  list-style-type: none;
}

.restaurantContainer {
  background-color: #e1dbd1;
  margin-bottom: 10px;
  border-radius: 5px;
  height: auto;
}

/* .imageColumn {

} */

.searchImage {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  padding: 0;
  margin: 5px;
}

.textColumn {
  justify-content: center;
  letter-spacing: 0.1rem;
  height: 100px;
  overflow: hidden;
}

.restaurantNameText,
.restaurantRating,
.restaurantCategory,
.restaurantAddress {
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
}

.restaurantNameText {
  font-weight: 500;
  font-size: 1rem;
}

.restaurantRating {
  font-weight: 300;
  font-style: italic;
  color: #7c7777;
  font-size: 0.8rem;
}

.restaurantCategory {
  font-style: italic;
  font-size: 0.75rem;
}

.restaurantAddress {
  font-style: italic;
  color: #7c7777;
  font-size: 0.75rem;
}

.imageColumn,
.textColumn {
  padding: 0;
}

@media (min-width: 768px) {
  .searchResultContainer {
    max-width: 50%;
    margin: auto;
  }

  .searchImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    padding: 0;
    margin: 10px;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
