.header {
  border-bottom: 1px solid #e1dbd1;
  padding-bottom: 25px;
}

.navBarIcon {
  display: inline-block;
  font-size: 30px;
  color: #e1dbd1;
  margin-top: 25px;
  margin-left: 25px;
}

.navBarIcon:hover {
  cursor: pointer;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 40px;
  padding: 0;
  margin-top: 20px;
}

.searchIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #363434;
  background-color: #e1dbd1;
  font-size: 20px;
}

.searchIcon:hover {
  cursor: pointer;
}

.searchForm {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

.searchInput {
  width: 375px;
  height: 40px;
  background-color: #e1dbd1;
  border: none;
  border-radius: 5px;
  text-indent: 3rem;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1rem;
  color: #363434;
}

.searchInput::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.searchInput:focus {
  outline: none;
}
