.header {
  border-bottom: 1px solid #e1dbd1;
  padding-bottom: 1rem;
}

.navBarIcon {
  display: inline-block;
  font-size: 2rem;
  color: #e1dbd1;
  margin-top: 1rem;
  margin-left: 1rem;
}

.navBarIcon:hover {
  cursor: pointer;
  color: #e8c4b8;
}

.logo {
  display: inline-block;
  height: 2.5rem;
  padding: 0;
  margin-top: 1rem;
}

.searchForm {
  display: flex;
  position: relative;
  margin-top: 1rem;
}

.submitButton {
  border: none;
  background-color: #e1dbd1;
  height: 2.5rem;
  width: 2rem;
  border-radius: 0 0.3rem 0.3rem 0;
}

.searchIcon {
  color: #363434;
  background-color: #e1dbd1;
  font-size: 1rem;
}

.searchIcon:hover {
  cursor: pointer;
  color: #e8c4b8;
}

.restaurantSearchInput,
.locationSearchInput {
  width: 18rem;
  height: 2.5rem;
  background-color: #e1dbd1;
  border: none;
  border-radius: 0.3rem 0 0 0.3rem;
  text-indent: 0.5rem;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1rem;
  color: #363434;
}

.locationSearchInput {
  width: 6rem;
  height: 2.5rem;
  border-left: 1px solid #363434;
  border-radius: 0;
}

.restaurantSearchInput::placeholder,
.locationSearchInput::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.restaurantSearchInput:focus,
.locationSearchInput:focus {
  outline: none;
}

.searchResultContainer {
  width: 95%;
  margin: auto;
}

.searchResultHeader {
  margin: 20px 0 20px 40px;
}

.searchResultHeaderText {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  color: #e8c4b8;
}

.searchResultList {
  padding: 0;
}

li {
  list-style-type: none;
}

.searchResult {
  background-color: #e1dbd1;
  margin-bottom: 10px;
  border-radius: 5px;
}

.searchResult:hover {
  filter: brightness(95%);
}

.restaurantContainer {
  flex-wrap: nowrap;
}

.imageColumn {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.searchImage {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  padding: 0;
  margin: 5px;
}

.textColumn {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  height: 100px;
  overflow: hidden;
}

.restaurantNameText,
.restaurantRating,
.restaurantCategory,
.restaurantAddress {
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
}

.restaurantNameText {
  font-weight: 500;
  font-size: 1rem;
  color: #363434;
}

.restaurantRating {
  font-weight: 300;
  font-style: italic;
  color: #7c7777;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.restaurantCategory {
  font-style: italic;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  color: #363434;
}

.restaurantAddress {
  font-style: italic;
  color: #7c7777;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

.imageColumn,
.textColumn {
  padding: 0;
}

.details {
  border-bottom: 1px solid #e1e1e1;
}

.detailsContainer {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.detailsHeaderText {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #e1dbd1;
  font-weight: 400;
}

.detailsImageColumn {
  padding-right: 0.5rem;
  width: 220px;
  height: 220px;
}

.detailsImage {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #e1dbd1;
  margin-right: 10px;
}

.detailsInfoColumn {
  color: #e1dbd1;
  padding-left: 0.5rem;
}

.detailsCategory {
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.detailsRating {
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.05rem;
}

.detailsAddress {
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.detailsPhoneNumber {
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.reviewsContainer {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}

.reviewHeader {
  margin-left: 2rem;
  color: #e8c4b8;
  font-family: 'raleway', sans-serif;
}

.reviewHeaderText {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.reviewList {
  margin-top: 1rem;
  padding: 0;
}

.reviewLi {
  background-color: #e1dbd1;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.reviewRating {
  font-weight: 500;
  color: #363434;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

.reviewText {
  font-size: 0.8rem;
  color: #363434;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}

.stars {
  color: #7c7777;
}

.homeButton {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.leftChevron {
  font-size: 2rem;
}

.homeButtonText {
  display: inline;
  font-family: 'raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.homeButtonAnchor {
  display: flex;
  align-items: center;
  width: fit-content;
  color: #e1dbd1;
}

.homeButtonAnchor:hover {
  color: #e8c4b8;
}

.appDrawerBackground {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.appDrawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  height: 100%;
  width: 275px;
  background-color: #363434;
  padding-top: 2rem;
}

.plusIcon {
  color: #e8c4b8;
  font-size: 1rem;
}

.createNewCollectionLink {
  display: flex;
  justify-content: center;
}

.createNewCollectionText {
  display: inline-block;
  font-family: 'raleway', sans-serif;
  color: #e1dbd1;
  margin-left: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.newCollectionLink:hover {
  filter: brightness(80%);
}

.newCollectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.newCollectionHeaderText {
  font-family: 'raleway', sans-serif;
  color: #e1dbd1;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.newCollectionLabel {
  font-family: 'raleway', sans-serif;
  color: #e8c4b8;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.newCollectionInput {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  text-indent: 0.5rem;
  background-color: #e1dbd1;
  font-family: 'raleway', sans-serif;
  color: #363434;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.newCollectionInput::placeholder {
  font-family: 'raleway', sans-serif;
  color: #7c7777;
  font-size: 1rem;
}

.newCollectionInput:focus {
  outline: none;
}

.newCollectionDescription {
  color: #e1dbd1;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.newCollectionButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.newCollectionButton {
  border: none;
  color: #363434;
  background-color: #e8c4b8;
  font-family: 'poppins', sans-serif;
  font-size: 0.9rem;
  border-radius: 5px;
  width: 4.5rem;
  height: 2rem;
}

.newCollectionButton:hover {
  filter: brightness(95%);
}

.bookmark {
  color: #e8c4b8;
  font-size: 1.75rem;
  margin-top: 15px;
  margin-right: 25px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collectionList {
  padding: 0 10px 0 10px;
}

.collectionLi {
  display: flex;
  border-radius: 5px;
  background-color: #e1dbd1;
  margin-bottom: 10px;
}

.collectionImageColumn {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.collectionImage {
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #e1dbd1;
}

@media (min-width: 568px) {
  .searchResultContainer {
    max-width: 90%;
  }

  .detailsImageColumn {
    width: 250px;
    height: 250px;
  }

  .detailsImage {
    width: 250px;
    height: 250px;
  }

  .detailsRating {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

@media (min-width: 668px) {
  .searchResultContainer {
    max-width: 80%;
  }

  .detailsImageColumn {
    width: 275px;
    height: 275px;
  }

  .detailsImage {
    width: 275px;
    height: 275px;
  }

  .reviewsContainer {
    width: 90%;
  }

  .detailsCategory,
  .detailsRating,
  .detailsAddress,
  .detailsPhoneNumber {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .searchResultContainer {
    max-width: 70%;
  }

  .searchImage {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
    padding: 0;
    margin: 5px;
  }

  .imageColumn {
    width: auto;
  }

  .textColumn {
    height: 150px;
    justify-content: space-evenly;
  }

  .restaurantNameText {
    font-size: 1.25rem;
  }

  .restaurantRating,
  .restaurantCategory,
  .restaurantAddress {
    font-size: 1rem;
  }

  .detailsImageColumn {
    width: 300px;
    height: 300px;
  }

  .detailsImage {
    width: 300px;
    height: 300px;
  }

  .reviewsContainer {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .logo {
    height: 2.5rem;
    width: 12.5rem;
  }

  .searchResultContainer {
    max-width: 60%;
  }

  .restaurantNameText,
  .restaurantRating,
  .restaurantCategory,
  .restaurantAddress {
    padding-left: 10px;
  }

  .reviewsContainer {
    width: 70%;
  }
}

@media (min-width: 1140px) {
  .searchResultContainer {
    max-width: 50%;
  }

  .reviewsContainer {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .reviewsContainer {
    width: 60%;
  }
}

@media (min-width: 1300px) {
  .reviewsContainer {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .reviewsContainer {
    width: 45%;
  }
}

@media (min-width: 2300px) {
  .reviewsContainer {
    width: 40%;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
